@tailwind base;
@layer base {
  svg {
    vertical-align: unset;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ais-SearchBox-form {
  display: flex;
  position: relative;
  .ais-SearchBox-input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 32px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    outline-width: 0;
  }
  .ais-SearchBox-submit {
    width: 40px;
    height: 32px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #db6c8f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg.ais-SearchBox-submitIcon {
    fill: white;
    width: 16px;
    height: 16px;
  }
  .ais-SearchBox-reset {
    position: absolute;
    right: 45px;
    top: 10px;
    z-index: 10;
  }
}

.ais-Hits {
  position: absolute;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  margin-top: 2px;
  left: 0;
  right: 0;
  .ais-Hits-list {
    margin-bottom: 0;
  }
  ais-highlight* {
    color: #db6c8f;
  }
}

.color-primary {
  color: #22337a;
}

.divider {
  height: 3px;
  min-width: 30px;
  display: inline-block;
  background-color: #7b87c555;
  &.center {
    margin: 0 auto;
  }
}
