@tailwind base;
@layer base {
  svg {
    vertical-align: unset;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.color-primary {
  color: #22337a;
}

.divider {
  height: 3px;
  min-width: 30px;
  display: inline-block;
  background-color: #7b87c555;
  &.center {
    margin: 0 auto;
  }
}
